html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    transition: background-color 100ms linear;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;

    > div#root {
        height: 100%;
    }
}
